$base-font-family: 'Roboto Mono', monospace;

// Line height
$base-line-height: 1.5;

// Other Sizes
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Colors
$primary-color: #000;
$white-color: #fff;
$black-color: #000;
$blue-color: #0086B3;
$dark-gray-color: #333;
$medium-gray-color: #999;
$light-gray-color: #ccc;

// Font Colors
$base-font-color: rgba($dark-gray-color, .8);
